<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Demoder.PlanetMapViewer.Properties.OverlayTutorial" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="Demoder.PlanetMapViewer.Properties.GeneralSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="Demoder.PlanetMapViewer.Properties.WindowSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="Demoder.PlanetMapViewer.Properties.MapSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="PlanetMapViewer.Properties.MapSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="PlanetMapViewer.Properties.WindowSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="PlanetMapViewer.Window" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="PlanetMapViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <Demoder.PlanetMapViewer.Properties.OverlayTutorial>
            <setting name="TitlebarMenu" serializeAs="String">
                <value>False</value>
            </setting>
        </Demoder.PlanetMapViewer.Properties.OverlayTutorial>
        <Demoder.PlanetMapViewer.Properties.GeneralSettings>
            <setting name="FramesPerSecond" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="SettingVersion" serializeAs="String">
                <value />
            </setting>
        </Demoder.PlanetMapViewer.Properties.GeneralSettings>
        <Demoder.PlanetMapViewer.Properties.WindowSettings>
            <setting name="WindowFullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="WindowPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>600, 480</value>
            </setting>
            <setting name="OverlaymodeShowScrollbars" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OverlaymodeShowControlbox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OverlaymodeTopmostWorkaround" serializeAs="String">
                <value>False</value>
            </setting>
        </Demoder.PlanetMapViewer.Properties.WindowSettings>
        <Demoder.PlanetMapViewer.Properties.MapSettings>
            <setting name="AoPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedShadowlandsMap" serializeAs="String">
                <value>Shadowlands\ShadowlandsMap.txt</value>
            </setting>
            <setting name="SelectedRubikaMap" serializeAs="String">
                <value>normal\PlanetMapIndexNormal.txt</value>
            </setting>
        </Demoder.PlanetMapViewer.Properties.MapSettings>
        <PlanetMapViewer.Properties.MapSettings>
            <setting name="AoPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedShadowlandsMap" serializeAs="String">
                <value>Shadowlands\ShadowlandsMap.txt</value>
            </setting>
            <setting name="SelectedRubikaMap" serializeAs="String">
                <value>normal\PlanetMapIndexNormal.txt</value>
            </setting>
        </PlanetMapViewer.Properties.MapSettings>
        <PlanetMapViewer.Properties.WindowSettings>
            <setting name="WindowFullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="WindowPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>600, 480</value>
            </setting>
        </PlanetMapViewer.Properties.WindowSettings>
        <PlanetMapViewer.Window>
            <setting name="Position" serializeAs="String">
                <value>dd</value>
            </setting>
        </PlanetMapViewer.Window>
        <PlanetMapViewer.Properties.Settings>
            <setting name="AoPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedShadowlandsMap" serializeAs="String">
                <value>Shadowlands\ShadowlandsMap.txt</value>
            </setting>
            <setting name="SelectedRubikaMap" serializeAs="String">
                <value>normal\PlanetMapIndexNormal.txt</value>
            </setting>
            <setting name="WindowFullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
        </PlanetMapViewer.Properties.Settings>
    </userSettings>
</configuration>
