<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Demoder.PlanetMapViewer.Properties.MapFonts" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="Demoder.PlanetMapViewer.Properties.GuiFonts" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="Demoder.PlanetMapViewer.Fonts" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="Demoder.PlanetMapViewer.Properties.NormalTutorial" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        <section name="Demoder.PlanetMapViewer.NormalTutorial" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        <section name="Demoder.PlanetMapViewer.Properties.Tutorial" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        <section name="Demoder.PlanetMapViewer.Properties.OverlayTutorial" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        <section name="Demoder.PlanetMapViewer.Properties.GeneralSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        <section name="Demoder.PlanetMapViewer.Properties.WindowSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        <section name="Demoder.PlanetMapViewer.Properties.MapSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        <section name="PlanetMapViewer.Properties.MapSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        <section name="PlanetMapViewer.Properties.WindowSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        <section name="PlanetMapViewer.Window" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        <section name="PlanetMapViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup><userSettings>
        <Demoder.PlanetMapViewer.Properties.MapFonts>
            <setting name="CharLocator" serializeAs="String">
                <value>SilkScreen7</value>
            </setting>
        </Demoder.PlanetMapViewer.Properties.MapFonts>
        <Demoder.PlanetMapViewer.Properties.GuiFonts>
            <setting name="Small" serializeAs="String">
                <value>CourierNew8</value>
            </setting>
            <setting name="Normal" serializeAs="String">
                <value>CourierNew10</value>
            </setting>
            <setting name="Large" serializeAs="String">
                <value>CourierNew12</value>
            </setting>
            <setting name="XLarge" serializeAs="String">
                <value>CourierNew18</value>
            </setting>
        </Demoder.PlanetMapViewer.Properties.GuiFonts>
        <Demoder.PlanetMapViewer.Fonts>
            <setting name="GuiSmall" serializeAs="String">
                <value>CourierNew8</value>
            </setting>
            <setting name="GuiNormal" serializeAs="String">
                <value>CourierNew8</value>
            </setting>
            <setting name="GuiLarge" serializeAs="String">
                <value>CourierNew8</value>
            </setting>
            <setting name="GuiXLarge" serializeAs="String">
                <value>CourierNew8</value>
            </setting>
        </Demoder.PlanetMapViewer.Fonts>
        <Demoder.PlanetMapViewer.Properties.NormalTutorial>
            <setting name="ZoomIn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ZoomOut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverlayMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Magnification" serializeAs="String">
                <value>False</value>
            </setting>
        </Demoder.PlanetMapViewer.Properties.NormalTutorial>
        <Demoder.PlanetMapViewer.NormalTutorial>
            <setting name="ZoomIn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ZoomOut" serializeAs="String">
                <value>False</value>
            </setting>
        </Demoder.PlanetMapViewer.NormalTutorial>
        <Demoder.PlanetMapViewer.Properties.Tutorial>
            <setting name="TitlebarMenu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResizeWindow" serializeAs="String">
                <value>False</value>
            </setting>
        </Demoder.PlanetMapViewer.Properties.Tutorial>
        <Demoder.PlanetMapViewer.Properties.OverlayTutorial>
            <setting name="TitlebarMenu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResizeWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExitOverlayMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TitlebarMenuClosed" serializeAs="String">
                <value>False</value>
            </setting>
        </Demoder.PlanetMapViewer.Properties.OverlayTutorial>
        <Demoder.PlanetMapViewer.Properties.GeneralSettings>
            <setting name="FramesPerSecond" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="SettingVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="DisableTutorials" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnabledPlugins" serializeAs="String">
                <value />
            </setting>
            <setting name="HaveAskedForTutorials" serializeAs="String">
                <value>False</value>
            </setting>
        </Demoder.PlanetMapViewer.Properties.GeneralSettings>
        <Demoder.PlanetMapViewer.Properties.WindowSettings>
            <setting name="WindowFullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="WindowPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>800, 640</value>
            </setting>
            <setting name="OverlaymodeShowScrollbars" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OverlaymodeShowControlbox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OverlaymodeTopmostWorkaround" serializeAs="String">
                <value>False</value>
            </setting>
        </Demoder.PlanetMapViewer.Properties.WindowSettings>
        <Demoder.PlanetMapViewer.Properties.MapSettings>
            <setting name="AoPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedShadowlandsMap" serializeAs="String">
                <value>Shadowlands\ShadowlandsMap.txt</value>
            </setting>
            <setting name="SelectedRubikaMap" serializeAs="String">
                <value>normal\PlanetMapIndexNormal.txt</value>
            </setting>
            <setting name="SelectedShadowlandsMapLayer" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectedRubikaMapLayer" serializeAs="String">
                <value>0</value>
            </setting>
        </Demoder.PlanetMapViewer.Properties.MapSettings>
        <PlanetMapViewer.Properties.MapSettings>
            <setting name="AoPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="SelectedShadowlandsMap" serializeAs="String">
                <value>Shadowlands\ShadowlandsMap.txt</value>
            </setting>
            <setting name="SelectedRubikaMap" serializeAs="String">
                <value>normal\PlanetMapIndexNormal.txt</value>
            </setting>
        </PlanetMapViewer.Properties.MapSettings>
        <PlanetMapViewer.Properties.WindowSettings>
            <setting name="WindowFullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="WindowPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>600, 480</value>
            </setting>
        </PlanetMapViewer.Properties.WindowSettings>
        <PlanetMapViewer.Window>
            <setting name="Position" serializeAs="String">
                <value>dd</value>
            </setting>
        </PlanetMapViewer.Window>
        <PlanetMapViewer.Properties.Settings>
            <setting name="AoPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="SelectedShadowlandsMap" serializeAs="String">
                <value>Shadowlands\ShadowlandsMap.txt</value>
            </setting>
            <setting name="SelectedRubikaMap" serializeAs="String">
                <value>normal\PlanetMapIndexNormal.txt</value>
            </setting>
            <setting name="WindowFullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
        </PlanetMapViewer.Properties.Settings>
    </userSettings>
</configuration>
